@charset "utf-8";

html,
#service-bar .dropdown-menu a,
#explore-menu { font-family: 微軟正黑, Microsoft JhengHei, Helvetica, Tahoma, 新明細體, PMingLiU, SimSun, sans-serif;}
b, strong { font-weight:normal }

/* news */
#news-updates h3 { letter-spacing:0; }
.featured-news { line-height: 1.3em;  }

/* header */
#service-bar .dropdown-arrow { font-size: 12px; text-transform: none }
#explore-menu .title, #explore-menu .explore-game a { font-weight: normal }
#explore-menu .desc { font-size: 12px }

/* warnings */
#warnings-wrapper { width: 375px; }
.warning-wrapper { font-size: 12px }

/* i18n switcher */
#i18n-container h3 { font-weight: normal }
#i18n-container #i18n-prefs-options .ui-button { text-transform: none }

/* footer */
#footer-sitemap .link-section h3 { *height:1.3em; }

/*forum*/
.coc { font-size:1em }
#welcome-right .ui-button span span { position: relative; top: -2px; .top:0 }
@-moz-document url-prefix() { #welcome-right .ui-button span span { position: relative; top:0 } }
#footer h3, #footer h3 a { line-height:1.3 }

/* CMS */
#station-view .bt-set a .desc { line-height:1.2em; padding-top:47px; }
#station-view .bt-set a .info { line-height:1.1em; top:126px }