/*    HTTP Host:  static.ak.fbcdn.net                                          */
/*    Generated:  December 23rd 2009 3:36:54 PM PST                            */
/*      Machine:  10.16.139.102                                                */
/*       Source:  Backing Store                                                */
/*     Location:  css/bemlh87d0a8scsoc.pkg.css h:7ubabl9d                      */
/*       Locale:  nu_ll                                                        */
/*         Path:  css/bemlh87d0a8scsoc.pkg.css                                 */

.BubbleCount{display:block;overflow:hidden;font-weight:bold;padding:0 0 0 6px;height:14px;color:#fff;background:url(/rsrc.php/z1ADN/hash/5oxgob3w.gif) no-repeat 0 -28px}
.BubbleCount .BubbleCount_Number{display:block;float:left;font-size:12px;height:14px}
.BubbleCount .BubbleCount_Right{background:url(/rsrc.php/z1ADN/hash/5oxgob3w.gif) no-repeat 0 -42px;float:left;height:14px;width:6px}
.spritemap_app_icons{background-image:url(/rsrc.php/zB0TY/hash/devpw49i.png);_background-image:url(/rsrc.php/z1PJH/hash/amd9c2ur.gif);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_app_icons__hidden{background-position:-16px -0px}
.selected .spritemap_app_icons.sx_app_icons__hidden{background-position:-0px -0px}
.sx_app_icons_applications{background-position:-16px -16px}
.selected .spritemap_app_icons.sx_app_icons_applications{background-position:-0px -16px}
.sx_app_icons_blog{background-position:-16px -32px}
.selected .spritemap_app_icons.sx_app_icons_blog{background-position:-0px -32px}
.sx_app_icons_cassette{background-position:-16px -48px}
.selected .spritemap_app_icons.sx_app_icons_cassette{background-position:-0px -48px}
.sx_app_icons_edit_applications{background-position:-16px -64px}
.selected .spritemap_app_icons.sx_app_icons_edit_applications{background-position:-0px -64px}
.sx_app_icons_edit_profile{background-position:-16px -80px}
.selected .spritemap_app_icons.sx_app_icons_edit_profile{background-position:-0px -80px}
.sx_app_icons_event{background-position:-16px -96px}
.selected .spritemap_app_icons.sx_app_icons_event{background-position:-0px -96px}
.sx_app_icons_favicon{background-position:-16px -112px}
.selected .spritemap_app_icons.sx_app_icons_favicon{background-position:-0px -112px}
.sx_app_icons_fbpage{background-position:-16px -128px}
.selected .spritemap_app_icons.sx_app_icons_fbpage{background-position:-0px -128px}
.sx_app_icons_find_friends{background-position:-16px -144px}
.selected .spritemap_app_icons.sx_app_icons_find_friends{background-position:-0px -144px}
.sx_app_icons_friend{background-position:-16px -160px}
.selected .spritemap_app_icons.sx_app_icons_friend{background-position:-0px -160px}
.sx_app_icons_friend_guy{background-position:-16px -176px}
.selected .spritemap_app_icons.sx_app_icons_friend_guy{background-position:-0px -176px}
.sx_app_icons_friend_list{background-position:-16px -192px}
.selected .spritemap_app_icons.sx_app_icons_friend_list{background-position:-0px -192px}
.sx_app_icons_friends_full{background-position:-16px -208px}
.selected .spritemap_app_icons.sx_app_icons_friends_full{background-position:-0px -208px}
.sx_app_icons_frownie{background-position:-16px -224px}
.selected .spritemap_app_icons.sx_app_icons_frownie{background-position:-0px -224px}
.sx_app_icons_geo_city{background-position:-16px -240px}
.selected .spritemap_app_icons.sx_app_icons_geo_city{background-position:-0px -240px}
.sx_app_icons_gift{background-position:-16px -256px}
.selected .spritemap_app_icons.sx_app_icons_gift{background-position:-0px -256px}
.sx_app_icons_group{background-position:-16px -272px}
.selected .spritemap_app_icons.sx_app_icons_group{background-position:-0px -272px}
.sx_app_icons_help_center{background-position:-16px -288px}
.selected .spritemap_app_icons.sx_app_icons_help_center{background-position:-0px -288px}
.sx_app_icons_hidden{background-position:-16px -304px}
.selected .spritemap_app_icons.sx_app_icons_hidden{background-position:-0px -304px}
.sx_app_icons_link{background-position:-16px -320px}
.selected .spritemap_app_icons.sx_app_icons_link{background-position:-0px -320px}
.sx_app_icons_marketplace{background-position:-16px -336px}
.selected .spritemap_app_icons.sx_app_icons_marketplace{background-position:-0px -336px}
.sx_app_icons_message{background-position:-16px -352px}
.selected .spritemap_app_icons.sx_app_icons_message{background-position:-0px -352px}
.sx_app_icons_mobile{background-position:-16px -368px}
.selected .spritemap_app_icons.sx_app_icons_mobile{background-position:-0px -368px}
.sx_app_icons_mobile_plus{background-position:-16px -384px}
.selected .spritemap_app_icons.sx_app_icons_mobile_plus{background-position:-0px -384px}
.sx_app_icons_motion{background-position:-16px -400px}
.selected .spritemap_app_icons.sx_app_icons_motion{background-position:-0px -400px}
.sx_app_icons_network_filter{background-position:-16px -416px}
.selected .spritemap_app_icons.sx_app_icons_network_filter{background-position:-0px -416px}
.sx_app_icons_new_feature{background-position:-16px -432px}
.selected .spritemap_app_icons.sx_app_icons_new_feature{background-position:-0px -432px}
.sx_app_icons_newsfeed{background-position:-16px -448px}
.selected .spritemap_app_icons.sx_app_icons_newsfeed{background-position:-0px -448px}
.sx_app_icons_note{background-position:-16px -464px}
.selected .spritemap_app_icons.sx_app_icons_note{background-position:-0px -464px}
.sx_app_icons_photo{background-position:-16px -480px}
.selected .spritemap_app_icons.sx_app_icons_photo{background-position:-0px -480px}
.sx_app_icons_post{background-position:-16px -496px}
.selected .spritemap_app_icons.sx_app_icons_post{background-position:-0px -496px}
.sx_app_icons_privacy{background-position:-16px -512px}
.selected .spritemap_app_icons.sx_app_icons_privacy{background-position:-0px -512px}
.sx_app_icons_search{background-position:-16px -528px}
.selected .spritemap_app_icons.sx_app_icons_search{background-position:-0px -528px}
.sx_app_icons_sent{background-position:-16px -544px}
.selected .spritemap_app_icons.sx_app_icons_sent{background-position:-0px -544px}
.sx_app_icons_stars{background-position:-16px -560px}
.selected .spritemap_app_icons.sx_app_icons_stars{background-position:-0px -560px}
.sx_app_icons_thumbs_down{width:15px !important;background-position:-15px -720px}
.selected .spritemap_app_icons.sx_app_icons_thumbs_down{background-position:-0px -720px}
.sx_app_icons_translations{background-position:-16px -576px}
.selected .spritemap_app_icons.sx_app_icons_translations{background-position:-0px -576px}
.sx_app_icons_unread{background-position:-16px -592px}
.selected .spritemap_app_icons.sx_app_icons_unread{background-position:-0px -592px}
.sx_app_icons_updates{background-position:-16px -608px}
.selected .spritemap_app_icons.sx_app_icons_updates{background-position:-0px -608px}
.sx_app_icons_video{background-position:-16px -624px}
.selected .spritemap_app_icons.sx_app_icons_video{background-position:-0px -624px}
.sx_app_icons_wall_post{background-position:-16px -640px}
.selected .spritemap_app_icons.sx_app_icons_wall_post{background-position:-0px -640px}
.sx_app_icons_web_search{background-position:-16px -656px}
.selected .spritemap_app_icons.sx_app_icons_web_search{background-position:-0px -656px}
.sx_app_icons_ad{background-position:-16px -672px}
.selected .spritemap_app_icons.sx_app_icons_ad{background-position:-0px -672px}
.sx_app_icons_payments{background-position:-16px -688px}
.selected .spritemap_app_icons.sx_app_icons_payments{background-position:-0px -688px}
.sx_app_icons_settings_gear{background-position:-16px -704px}
.selected .spritemap_app_icons.sx_app_icons_settings_gear{background-position:-0px -704px}
.UIFilterList_ListTitle{font-weight:bold;padding:0 0 4px 2px}
.UIFilterList_BottomMargin{padding-bottom:20px}
.UIFilterList_Footer,
.UIFilterList_EditLink{border-top:1px solid #d6d9de;display:none;font-size:10px;font-weight:bold;padding:4px 6px 4px 5px;position:relative}
.UIFilterList_Create{float:right}
.UIFilterList_Plus, .UIMutableFilterList_Arrow{background:transparent url(/rsrc.php/z9WEN/hash/6w95fo9x.gif) no-repeat;display:inline-block;height:10px;margin:0 3px 0 0;padding-left:7px}
.UIFilterList_Plus{background-position:-232px -87px}
.UIFilterList_BlankState{border-top:1px solid #ddd;color:#666;display:none;line-height:16px;padding:5px 3px}
.UIFilterList_HasBlankState .UIFilterList_BlankState{display:block}
.UIFilterList_List{display:block;margin:0;padding:0}
.UIFilterList_HasBlankState .UIFilterList_List{display:none}
.UIFilterList_Item{display:block;height:26px;margin:0;overflow:hidden;position:relative}
.UIFilterList_Icon{background-position:top right;background-repeat:no-repeat;display:block;height:16px;width:16px}
.selected .UIFilterList_Icon{background-position:top left}
.UIFilterList_EditIcon{display:none}
.UIFilterList .selected{background-color:#6d84b4;border:1px solid #3b5998;height:24px;padding-left:1px}
.selected .UIFilterList_EditIcon{background:transparent url(/rsrc.php/zALOO/hash/aw6u5ib5.gif) no-repeat 0 -70px;cursor:pointer;display:block;height:16px;left:auto;position:absolute;right:4px;top:4px;width:16px;z-index:1}
.selected .UIFilterList_EditIcon:hover{background-position:0 -54px}
.UIFilterList_ItemLink{border-top:1px solid #d6d9de;color:#333;display:block;height:19px;overflow:hidden;padding:5px 0 1px 5px;text-overflow:ellipsis}
.UIFilterList_Item .UIFilterList_TitleWithoutIcon{padding-top:6px}
.UIFilterList_Item .UIFilterList_Title{font-weight:normal;white-space:nowrap}
.UIFilterList_Item .UIFilterList_ItemLink:hover{background-color:#eceef4;text-decoration:none}
.selected .UIFilterList_ItemLink:hover{background-color:transparent}
.selected .UIFilterList_ItemLink{border-top:0 none;padding-left:3px;padding-top:4px}
.selected .UIFilterList_TitleWithoutIcon{padding-top:5px}
.selected .UIFilterList_Title{color:#fff}
.selected .UIFilterList_HasEditIcon{padding-right:19px}
.selected .UIFilterList_LoadingIndicator{background:transparent url(16vt4yge.gif) top left no-repeat;display:none;height:11px;position:absolute;right:10px;top:7px;width:16px;z-index:2}
.UIFilterList_Loading .selected .UIFilterList_LoadingIndicator{display:block}
.UIFilterList_Loading .selected .UIFilterList_EditIcon{display:none}
.UIFilterList_Loading .selected{padding-right:31px}
.safari3 .UIFilterList_Loading .selected .UIFilterList_ItemLink{padding-right:25px}
.UIFilterList_Button{padding-left:3px;padding-top:5px}
.UIFilterList_CreateLink{display:block;padding-bottom:5px;padding-top:3px}
.UIFilterList_DragHandle{background:url(/rsrc.php/zALOO/hash/aw6u5ib5.gif) no-repeat -16px -70px;cursor:move;display:none;height:16px;position:absolute;right:5px;top:7px;width:16px;z-index:1}
.selected .UIFilterList_DragHandle{background-position:-16px -56px}
.UIFilterList_EditMode .UIFilterList_DragHandle,
.UIFilterList_EditLink,
.UIFilterList_EditMode .UIFilterList_Footer{display:block}
.UIFilterList_Loading .selected .UIFilterList_DragHandle,
.UIFilterList_EditMode .UIFilterList_EditLink{display:none}
.UIFilterList_NoBorder{border:none}
.UIFilterList_EditMode .UIFilterList_ItemLink{padding-right:25px}
.UIFilterList_EditMode .UIFilterList_Title{display:block;overflow:hidden;text-overflow:ellipsis}
.UIFilterList_ShowHiddenSection .UIMutableFilterList_HiddenSection{display:block}
.UIMutableFilterList_HiddenSection,
.UIFilterList_ShowHiddenSection .UIFilterList_EditLink{display:none}
.UIMutableFilterList_Separator{border-top:1px solid #b3b3b3;height:1px}
.UITabStructure_Container{margin:0;padding:3px 0}
.UITabStructure_BottomBorder{border-bottom:1px solid #898989}
.UITabStructure_Left{padding-left:10px;float:left}
.UITabStructure_Right{padding-right:10px;float:right}
.UITabStructure_FullBleed{padding:0}
.UITabStructure_Tabs{text-align:center}
.UITabStructure_Tabs li{display:inline;padding:2px 0 3px;background:#f1f1f1 url(/rsrc.php/z3HLG/hash/4x24xq7f.gif) top left repeat-x;font-size:14px}
.UITabStructure_Tabs li a{border:1px solid #898989;border-left:0;color:#333;font-weight:bold;padding:2px 8px 3px 9px}
.UITabStructure_Tabs li a:focus{outline:0}
.UITabStructure_Tabs li.UITabStructure_TabFirst a{border:1px solid #898989}
.UITabStructure_Tabs li a.UITabStructure_TabSelected{margin-left:-1px;background:#6d84b4;border:1px solid #3b5998;border-left:1px solid #5973a9;border-right:1px solid #5973a9;color:#fff}
.UITabStructure_Tabs li.UITabStructure_TabLast a.UITabStructure_TabSelected{margin-left:-1px;border-left:1px solid #5973a9;border-right:1px solid #36538f}
.UITabStructure_Tabs li.UITabStructure_TabFirst a.UITabStructure_TabSelected{margin:0;border-left:1px solid #36538f;border-right:1px solid #5973a9}
.UITabStructure_Tabs li.UITabStructure_TabFirst.UITabStructure_TabLast a.UITabStructure_TabSelected{border:1px solid #36538f}
.UITabStructure_Tabs li a.UITabStructure_TabSelected:hover{text-decoration:none}
.UITabStructure_Tabs li a.UITabStructure_TabDisabled{color:#999;cursor:default}
.UITabStructure_Tabs li a.UITabStructure_TabDisabled:hover{text-decoration:none}
.UIWell{background:#f2f2f2;border-top:1px solid #ccc;zoom:1}

#bootloader_css_bemlh87d0a8scsoc_pkg_css { height: 42px; }