body, ul, li, div, h1, h2, h3, h4, h5, h6, form, a, img {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none outside none;
}
img {
    border: 0 none;
}
a {
	color:#FF3366;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
button, input, select, textarea {
	font-size:12px;
	font-family:arial;
	padding:1px;
	margin:0;
}
.clear {
    clear: both;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.lfloat{float:left}
.rfloat{float:right}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size: 10px}
.fsm{font-size: 12px}
.fsl{font-size: 14px}
.fsxl{font-size: 17px}
.fsxxl{font-size: 19px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:#808080}
.fcmb{color:#5f81a6}
.fcdg{color:#62B054}
.fcdr{color:#B6423C}
.noborder{border:none}
.hCent{text-align:center}
em {
	position:absolute;
	border-style:solid;
	border-width:6px;
	display:block;
	height:0;
	width:0;
	overflow:hidden;
}
em.up {
	border-color:#FFF #FFF #EDEFF4;
	border-width:0 6px 6px 6px;
}
.tabs {
	background:url(../images/tabsbg.png) bottom no-repeat;
	padding-left: 24px;	
	zoom:1;
}
.tabs li {
	float: left;
	margin-right: 8px;
}
.tabs a {
	display: inline-block;
	background:#e0e0e0;
	color:#787878;
	padding: 7px 10px 5px;
	margin: 4px 0 1px;
}
.tabs a:hover {
	background:#F0F0F0;
	color:#888;
	text-decoration:none;
}
.tabs .selected, .tabs .selected:hover {
	font-size:14px;
	background:#FFF;
	color:#ff3366;
	font-weight:700;
	border:1px solid;
	border-color: #ff3366 #ff3366 #FFF;
	margin: 0;
	padding: 7px 10px 5px;
}
.uiCategory li{
	float:left;
	margin-right:10px;
}
.uiCategory a {
	display:block;
	padding:3px 8px;
	*padding:4px 8px 2px;
	font-weight:700;
}
.uiCategory .selected {
	color:#FFF;
	background: #FF3366;
	border:1px solid #f70d47;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.uiCategory .selected:hover {
	text-decoration:none;
}
.uiBtnp, .uiBtng {
	background: url(../images/btn.png) repeat-x;
	border: 0 none;
	padding: 6px 12px;
	padding: 7px 12px 5px\9;
	*padding: 4px 0 3px;
	font-weight: 700;
	color: #FFF;
	font-size:14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
}
.uiBtnp {
	background-position:0 0;
}
.uiBtnp:active {
	background-position:0 -30px;
}
.uiBtng {
	background-position:0 -60px;
}
.uiBtng:active {
	background-position:0 -90px;
}
.uiBtnlink {
	display:inline-block;
	color:#5F81A6;
	background: url(../images/btn.png) 0 -120px repeat-x;
	border:1px solid #ccc;
	padding:3px 7px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	outline:none;
}
.uiBtnlink:hover {
	text-decoration:none;
	-moz-box-shadow:0 0 5px #ccc;
	-webkit-box-shadow:0 0 5px #ccc;
}
.uiBtnlink:active{
	background-position:0 -150px;
}
.uiBtnlink.selected {
	cursor:default;
	border-color:#ccc;
	background:#ddd;
	font-weight:700;
	color:#000;
}
.uiGrid {
	border-collapse:collapse;
}
.uiGrid .vTop{vertical-align:top}
.uiGrid .hLeft{text-align:left}
.uiGrid .hCent{text-align:center}
.uiGrid .header {
	background:#e6e6e6;
	border: solid #bdbdbd;
	border-width:1px 0;
	padding:5px 8px;
	font-weight: 700;
	text-align:left;
	color:#000;
	font-size:14px;
}
.uiGrid th {
	border:solid #dbdbdb;
	border-width:1px 0 1px 1px;
	background:#f3f3f3;
	padding: 6px 5px 4px;
    text-align: left;
	vertical-align:bottom;
}
.uiGrid td {
	border:solid #e7e7e7;
	border-width:1px 0 1px 1px;
	background:#FFF;
	padding: 8px 5px;
	color:#666;
}
.uiGrid .first {
	border-left: 0 none;
}
.uiGrid th a{
	color:#333;
}
.uiPager {
	margin: 10px 0;
}