body{background:#fff;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 12px;color:#333;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed;overflow-y:scroll}
.mini_iframe,.serverfbml_iframe{overflow-y:visible}
.auto_resize_iframe{height:auto}
h1,h2,h3,h4,h5,h6{font-size: 14px;color:#333;margin:0;padding:0}
h1{font-size: 15px}
h4,h5{font-size: 12px}
p{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 12px;text-align:left;margin:1em 0}
a{cursor:pointer;color:#3b5998;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
select{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 12px;padding:2px}
td,td.label{font-size: 12px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
.pipe{color:#808080;padding:0 3px}
.column{float:left}
.center{margin-left:auto;margin-right:auto}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{display:block;zoom:1}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.fss{font-size: 10px}
.fsm{font-size: 12px}
.fsl{font-size: 14px}
.fsxl{font-size: 17px}
.fsxxl{font-size: 19px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:#808080}
.noborder{border:none}
.lfloat{float:left}
.rfloat{float:right}
.text_align_ltr, .ul{text-align:left}
.text_align_rtl, .ur{text-align:right}

.topborder{border-bottom:none;border-left:none;border-right:none}
.bottomborder{border-left:none;border-right:none;border-top:none}
.dashedborder{border-style:dashed}

.uiGrid{border:0;border-collapse:collapse;border-spacing:0}
.uiGridCalc{width:100%}
.uiGrid .vTop{vertical-align:top}
.uiGrid .vMid{vertical-align:middle}
.uiGrid .vBot{vertical-align:bottom}
.uiGrid .hLeft{text-align:left}
.uiGrid .hCent{text-align:center}
.uiGrid .hRght{text-align:right}
.uiButton{}
.uiCloseButton{}
.uiBoxGray{}
.uiListItem{}
.uiSearchInput{}
.uiNotify{}
.uiHeader{}
.uiMenu{}
.uiMenuItem{}
.uiSelector{}
.uiTooltip{}
.uiSideNav{}
.uiTypeahead{}
.uiTextareaNoResize{resize:none}
.uiTextareaAutogrow{overflow:hidden}

#container{}
#headNav{}
#navSearch{}
#navAccount{}
#leftCol{}
.hasLeftCol #leftCol{}
#rightCol{}
.hasRightCol #rightCol{}